---
title: Blog
layout: default
scripts:
  - blog.js
---
<div id="searchSection">
    <input type="text" id="searchBar" placeholder="Search" autofocus autocomplete="off" oninput="blogSearchFilter()">
    <img src="/assets/images/search.png" alt="Search">
</div>
<br>
<span class="tagList" id="tagFilterList">
    Filter by tag: <a onclick="blogTagFilter('none');" class="tagLabel none">none</a>
    {% for tag in site.tags %}
        <a onclick="blogTagFilter('{{ tag[0] }}');" class="tagLabel {{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
</span>
{% for post in site.posts %}
    <a href="{{ post.url | absolute_url }}" class="postSummary">
        <h3>{{ post.title }}</h3>
        <div class="postMetaLine">
            <span class="tagList">
                {% for tag in site.tags %}
                    {% if post.tags contains tag[0] %}
                        <span class="tagLabel {{ tag[0] }}">{{ tag[0] }}</span>
                    {% endif %}
                {% endfor %}
            </span>
            {{ post.date | date_to_string }}<span class="relativePostTime">{{ post.date | date_to_xmlschema }}</span>
        </div>
        {{ post.excerpt | strip_html }}
    </a>
{% endfor %}
<p id="noResults">No results found.</p>
{% include subscribe.html %}