---
title: Projects
layout: default
---
<div id="projectsList">
	{% for project in site.data.projects %}
		<div id="{{ project.name | remove: ' ' }}">
			<a class="iconBox" href="{{ project.link | relative_url }}">
				<img class="projectImage" src="assets/images/projects/{{ project.name | slugify }}.webp" alt="{{ project.image_alt }}" tabindex="0">
				{% if project.app %}
					<img class="appleBadge" src="assets/images/app-store-banners/download-white.svg" alt="Download on the iOS App Store" tabindex="0">
				{% endif %}
			</a>
			<a class="titleLink" href="{{ project.link | relative_url }}" tabindex="0">
				<h2>{{ project.name }}</h2>
			</a>
			<p>{{ project.description | markdownify }}</p>
			{% if project.app %}
				<div class="appLinks">
					<a href="{{ project.faq | relative_url }}" tabindex="0">FAQ</a>
					<a href="{{ project.privacy_policy | relative_url }}" tabindex="0">Privacy Policy</a>
				</div>
			{% endif %}
		</div>
	{% endfor %}
</div>
