div#intro > img {
  display: block;
  float: none;
  width: 60%;
  margin: 0 auto 0 auto;
}

#socialIcons {
  float: none;
  width: 60%;
  margin: 20px auto 0 auto;
}

.experienceItem {
  overflow: auto;

  > a > img {
    //width: 160px;
    //height: 160px;
    //display: block;
    //float: left;
    //border-radius: 20px;
    //margin-right: 20px;
    float: none;
    margin: 0 auto 20px auto;
  }
}