div#postArrow {
	> a {
		position: fixed;
		top: 50%;
		opacity: 50%;

		> img {
			width: 50px;
		}

		&:first-child {
			left: 10px;
		}

		&:last-child {
			right: 10px;

			> img {
				transform: rotate(180deg);
			}
		}

		&:hover {
			opacity: 100%;
		}
	}
}

img#blogPostIcon {
	border-radius: 20px;
	float: left;
	margin-right: 20px;
	width: 72px;
	margin-top: 0;
}

h1#blogTitle {
	margin-bottom: 0;
	margin-top: 20px;
}

span.tagList {
	.tagLabel {
		border-radius: 5px;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		font-style: normal;
		margin-right: 2px;
		text-decoration: none;
		border: transparent solid 1px;

		&:last-child {
			margin-right: 4px;
		}
	}

	.none {
		background-color: white;
		color: black;
	}

	.programming {
		background-color: darkred;
	}

	.compsci {
		background-color: green;
	}

	.design {
		background-color: purple;
	}

	.software {
		background-color: #0044c4;
	}

	.story {
		background-color: #804d00;
	}
}

#tagFilterList {
	display: none;

	.tagLabel:hover {
		cursor: pointer;
	}
}

.relativePostTime {
	display: none;
}

#searchSection {
	$height: 50px;
	margin-top: 10px;
	display: none;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: $box-background-color;
	position: relative;

	&,
	* {
		height: $height;
	}

	&,
	#searchBar {
		border-radius: 20px;
	}

	#searchBar {
		display: block;
		background-color: transparent;
		width: 100%;
		font-size: $height * 0.5;
		border: 0;
		color: $foreground-color;
		box-sizing: border-box;
		padding-right: $height;
		padding-left: $height * 0.3;

		&:focus + img {
			opacity: 100%;
		}
	}

	img {
		opacity: 50%;
		position: absolute;
		right: 0;
		top: 0;
		$margin: 10px;
		margin: $margin;
		height: $height - 2 * $margin;
		-webkit-user-drag: none;
	}
}

#noResults {
	display: none;
	text-align: center;
	margin-top: 30px;
}

.searchHighlight {
	text-decoration: underline;
	display: inline;
}

#blogList {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 20px;

	> a {
		@include round-box;
		$imgHeight: 140px;
		$imgRightMargin: 20px;

		min-height: $imgHeight;

		> img {
			float: left;
			height: $imgHeight;
			width: $imgHeight;
			border-radius: 20px;
			margin-right: $imgRightMargin;
		}

		> p {
			margin: 0;
		}

		> h3 {
			margin-top: 0;
			margin-bottom: 0;
			color: $foreground-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.postMetaLine {
	margin-bottom: 10px;

	&,
	time,
	.relativePostTime {
		color: $minor-color;
	}
}

div#subscriptionButtons {
	padding-top: 20px;

	> a {
		text-decoration: none;
		white-space: nowrap;

		> img {
			width: 30px;
		}

		> * {
			vertical-align: middle;
		}

		> span {
			&.long {
				display: inline;
			}
			&.short {
				display: none;
			}
		}

		> span:hover {
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

#blogContent {
	img {
		max-width: 70%;
		display: block;
		margin: 0 auto;
	}

	background-color: $box-background-color;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

// Post-specific styles
.colorSquare {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: text-top;
	border: white 1px solid;
	border-radius: 5px;
}

.colorCode {
	background-color: white;
	border-radius: 5px;
	color: black;
	padding: 0 5px;

	&,
	* {
		font-family: $monospace-hierarchy;
	}
}
