div#postArrow {
  > a {
    position: fixed;
    top: 50%;

    > img {
      width: 50px;
    }
  }

  > a#leftPostArrow {
    left: 10px;
  }

  > a#rightPostArrow {
    right: 10px;
    
    > img {
      transform: rotate(180deg);
    }
  }
}

h1#blogTitle {
  margin-bottom: 0;
}

p#postMeta {
  color: #aaaaaa;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
}

span.tagList {
  .tagLabel {
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-style: normal;
    margin-right: 2px;
    text-decoration: none;
    border: transparent solid 1px
  }

  .tagLabel:last-child {
    margin-right: 4px;
  }

  .tagLabel:hover {
    cursor: pointer;
  }

  .none {
    background-color: white;
    color: black;
  }

  .programming {
    background-color: purple;
  }

  .compsci {
    background-color: green;
  }

  .design {
    background-color: #0059ff;
  }
}

#tagFilterList {
  margin-top: 10px;
  display: none;
}

a.postSummary {
  > p {
    margin-bottom: 0;
  }

  > h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  > h3:hover {
    text-decoration: underline;
  }

  > span {
    color: #aaaaaa;
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
  }

  background-color: #111111;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  padding: 20px;
  border: transparent solid 0.5px;
  min-height: 100px;
  margin-top: 20px;
}

a.postSummary:not(:last-child) {
  margin-bottom: 20px;
}

a.postSummary:hover {
  background-color: #2a2a2a;
  border: white solid 0.5px;
}

div#subscriptionButtons {
  > a {
    text-decoration: none;
    white-space: nowrap;

    > img {
      width: 30px;
    }

    > * {
      vertical-align: middle;
    }

    span:hover {
      text-decoration: underline;
    }
  }

  > a:not(:last-child) {
    margin-right: 10px;
  }
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  div#postArrow {
    display: none;
  }
}