div#postArrow {
  display: none;
}

div#subscriptionButtons {
  > a {
    > span {
      &.long {
        display: none;
      }

      &.short {
        display: inline;
      }
    }
  }
}

#searchSection {
  width: 100%;
}

#blogList {
  display: block;

  > a {
    > img {
      float: none;
      display: block;
      margin: 0 auto 20px auto;
    }

    > p {
      padding-left: 0;
    }

    h3 {
      text-align: center;
    }
  }
}

#blogTitle {
  text-align: center;
}

.postMetaLine {
  text-align: center;
}

#blogContent {
  h2 {
    text-align: center;
  }
}

img#blogPostIcon {
  float: none;
  display: block;
  margin: 0 auto 20px auto;
  width: 140px;
}