#media-appearances {
	display: block;

	a {
		&:last-child {
			display: none;
		}

		img {
			float: none;
			display: block;
			margin: 0 auto 20px auto;
		}

		h2 {
			text-align: center;
		}

		.media-appearance-meta {
			text-align: center;
			right: 0;
			left: 0;
		}
	}
}
