#media-appearances {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;

  div {
	$padding: 20px;
	background-color: $box-background-color;
	border-radius: 20px;
	text-decoration: none;
	display: block;
	padding: $padding;
	border: transparent solid 0.5px;
	margin-top: $padding;

	img {
	  height: 150;
	  width: 150px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: 20px;
	  border-radius: 20px;
	}

	.media-appearance-meta, .media-appearance-meta * {
	  color: $minor-color;
	  text-align: center;
	  width: 100%;
	  font-size: 1rem;
	}

	h2 {
	  text-align: center;

	  a {
		color: $foreground-color;
		text-decoration: none;

		&:hover {
		  text-decoration: underline;
		}
	  }
	}
  }
}