#projectsList > a {
  div.iconBox {
	float: none;

	img.projectImage {
	  width: 60%;
	  height: auto;
	  display: block;
	  margin: 0 auto 20px auto;
	}

	img.appleBadge {
	  display: none;
	}
  }

  h2 {
	text-align: center;
  }

  .appLinks {
	position: static;
  }
}