img.projectImage {
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

img.appleBadge {
  display: block;
  padding: 20px;
  width: 120px;
}

div#projectsList > table > tbody > tr > td {
  vertical-align: top;

  > p {
	margin: 0;
  }
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  img.projectImage {
	width: 60%;
	height: auto;
	display: block;
	margin: 0 auto 20px auto;
  }

  img.appleBadge {
	display: none;
  }

  div#projectsList {
	> table > tbody > tr > td {
	  display: block;
	}
  }
}