#projectsList > a {
	img.projectImage {
		float: none;
		width: 60%;
		height: auto;
		display: block;
		margin: 0 auto 20px auto;
	}

	div#appDownloadBadges {
		display: none;
	}

	h2 {
		text-align: center;
	}

	.appLinks {
		position: static;
	}
}
