table#qrTable {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

img#qrCodeImage {
  display: block;
  width: 300px;
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  table#qrTable > tbody > tr > td {
    display: block;
  }

  td#qrOptions {
    width: 100%;
    display: block;

    > select {
      width: 100%;
    }

    > input {
      width: 100%;
    }
  }
}