---
---

div#intro {
  display: block;

  > img {
	display: block;
	float: left;
	width: 25%;
	border-radius: 20px;
	margin-right: 20px;
  }

  > h1 {
	color: lightgray;
	font-weight: normal;

	a {
	  color: white;
	  font-weight: bold;
	  text-decoration: none;
	}

	a:hover {
	  text-decoration: underline;
	}
  }
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  div#intro > img {
	float: none;
	width: 45%;
	margin: 0 auto 0 auto;
  }
}