---
---
p.postArrow {
  position: absolute;
}

p.leftArrow {
  left: 0;
}

p.rightArrow {
  right: 0;
}

h1 {
  margin-bottom: 0;
}

p#postMeta {
  font-style: italic;
  color: #aaaaaa;
  font-size: 1em;
  margin-top: 0;
}