---
---
body {
	background-color: black;
	margin: 0 0 0 0;
}

h1, h2 {
	color: white;
	font-family: "Century Gothic", Futura, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 300%;
	text-shadow: 2px 2px 0 grey;
	text-align: center;
}

h3 {
	color: white;
	font-family: "Century Gothic", Futura, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: x-large;
}

h1 {
	font-size: 400%;
	text-shadow: 3px 3px 0 grey;
	text-align: left;
	padding: 20px 20px 20px 20px;
}

div.blueField {
	background: #53c1ff;
	border-radius: 40px;
	padding: 1px 30px 15px;
	margin-top: 20px;
}

div.redField {
	background: #ee6363;
	border-radius: 40px;
	padding: 1px 30px 15px;
	margin-top: 20px;
}

p, a {
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: larger;
}

ul#choiceButtons {
  padding: 0;
  text-align: center;
  margin-bottom: 0;

  > li {
	list-style: none;
	display: inline-block;
	width: 200px;

	> a {
	  display: block;
	  padding: 20px 0;
	  margin: 10px 0;
	  border-radius: 20px;
	  border: 4px solid black;
	  font-size: 1.5em;
	  text-align: center;
	  text-decoration: none;
	  font-weight: 600;
	  white-space: nowrap;
	}
  }
}

table#subjectsTable {
	border: 4px black solid;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto 0 auto;
}

p.durationLabel {
	text-align: right;
	width: 100%;
}

p.allocationLabel {
	width: 70px;
}

a.hitMissButtons {
	border-radius: 20px;
	padding: 20px;
	border: 4px solid black;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	white-space: nowrap;
	width: 50px;
	display: block;
}

p#streakLabel {
	font-size: 1.5em;
}

.projectImage {
	width: 160px;
	height: 160px;
}

.appleBadge {
	display: block;
	padding: 20px;
	width: 120px;
}

table#studyStreaks > tbody > tr > td > p {
	padding: 10px;
}

table#breaksTable {
	margin: 0 auto;
	max-width: 100%;

  table#breaksTable > tbody > tr > td {
	p {
	  text-align: center;
	  margin-bottom: 0;
	}

	img {
	  display: block;
	  margin: 0 auto;
	  width: 100%;
	}
  }
}

input#weeklyGlobalGoalTextField {
	width: 25px;
	text-align: right;
}

/* Mobile */
@media only screen and (max-width: 480pt) {
	ul#choiceButtons > li {
		display: block;
		width: 100%;
	}

	.projectImage {
		width: 60%;
		height: auto;
		display: block;
		margin: 0 auto 20px auto
	}

	.appleBadge {
		display: none;
	}

	table#studyStreaks > tbody > tr > td {
		display: block;
	}

	#projectsList > table > tbody > tr > td {
		display: block;
	}

	table#breaksTable > tbody > tr > td {
		display: block;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}

	table#subjectsTable {
		width: 100%;

	  > tbody > tr {
		display: block;

		> td {
		  display: block;
		  margin: 0 auto;

		  > p {
			text-align: center;
			margin: 0 auto;
		  }

		  > input {
			margin: 0 auto;
			width: 100%;
			text-align: center;
		  }
		}
	  }

	  > th {
		display: none;
	  }
	}
}