---
---
.projectImage {
  width: 160px;
  height: 160px;
  margin-right: 10px;
}

.appleBadge {
  display: block;
  padding: 20px;
  width: 120px;
}

#projectsList > table > tbody > tr > td {
  vertical-align: top;

  > p {
	margin: 0;
  }
}

#face {
  display: block;
  width: 25%;
  border-radius: 20px;
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  .projectImage {
	width: 60%;
	height: auto;
	display: block;
	margin: 0 auto 20px auto;
  }

  .appleBadge {
	display: none;
  }

  #projectsList {
	> table > tbody > tr > td {
	  display: block;
	}
  }
}