---
---
$foreground-color: white;
$accent-color: #ee72f1;
$minor-color: #acacac;
$box-background-color: #0e0e13;
$hover-box-background-color: #1c1b25;
$background-color: #21202c;

$monospace-hierarchy: Courier, Menlo, monospace;
$animation_duration: 0.4s;

@mixin round-box {
  cursor: pointer;
  border: transparent solid 1px;
  $padding: 20px;
  background-color: $box-background-color;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  padding: $padding;
  margin-top: $padding;
  transition: border 0.9s;

  &:hover {
    border: $accent-color solid 1px;
    background-color: $hover-box-background-color;
    transition: $animation_duration;
  }
}

@mixin animated_underline {
  text-decoration: none;
  position: relative;
  color: $accent-color;

  &:after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 0;
    border-bottom: 2px solid $accent-color;
    transition: $animation_duration;
  }

  &:hover:after {
    width: 100%;
  }
}

@import "main";
@import "projects";
@import "about";
@import "media";
@import "blog";
@import "qr";
@import "anonkey";
@import "syntax";

/* Mobile */
@media only screen and (max-width: 480pt) {
  @import "main.mobile";
  @import "projects.mobile";
  @import "about.mobile";
  @import "media.mobile";
  @import "blog.mobile";
  @import "qr.mobile";
  @import "anonkey.mobile";
}