---
---
* {
  color: white;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#title {
  font-size: 300%;
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin: 0 0 20px 0;
  font-family: "Century Gothic", Futura, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: 700;
}

p, li:not(nav) {
  font-size: 1.2em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #1c1c1c;
}

#footer {
  position: relative;
  bottom: 60px;
  text-align: center;
}

#main {
  width: 70%;
  padding-bottom: 60px;
  margin: 0 auto 0 auto;
  position: relative;
  min-height: calc(100% - 60px - 20px);
  padding-top: 20px;
}

nav > ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  > li {
    list-style: none;
    display: inline-block;

    > a {
      font-size: 1.5em;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      white-space: nowrap;
      padding: 0 20px;
      color: #898989;
    }

    > a:hover {
      text-decoration: underline;
    }
  }
}

#currentPage {
  color: white;
}

input {
  color: black;
}

code {
  font-family: Courier, Menlo, monospace;
}

/* Mobile */
@media only screen and (max-width: 480pt) {
  p, li:not(nav) {
    font-size: 1.5em;
    margin: 0 5px 0 5px
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }

  #main {
    width: 100%;
  }

  #title {
    font-size: 2.7em;
    text-align: center;
  }

  nav {
    margin-bottom: 20px;

    > ul > li > a {
      font-size: 1.2em;
      padding: 0 5px;
    }
  }
}