---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{%- seo -%}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="language" content="english">
		<meta name="copyright" content="Gavin Douch">
		<meta name="theme-color" content="#1c1c1c">
		<link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ 'blog/feed.rss' | absolute_url }}">
		<link type="application/atom+xml" rel="alternate" href="{{ 'blog/feed.atom' | absolute_url }}" title="{{ site.data.feed.title }}">
		{% include icons.html %}
		{%- if page.use_math -%}
			<meta name="turbolinks-visit-control" content="reload">
			{% include mathjax_support.html %}
		{%- endif -%}
		<script src="{{ '/assets/scripts/turbolinks.js' | relative_url }}"></script>
		{%- if page.title == "QR Code Generator" -%}
			<script src="{{ 'assets/scripts/qrCode.js' | relative_url }}"></script>
		{%- endif -%}
		{%- if page.title == "Blog" -%}
			<script src="{{ 'assets/scripts/tagFilter.js' | relative_url }}"></script>
		{%- endif -%}
	</head>
	<body>
		<div id="main">
			<a id="title" href="{{ '/' | relative_url }}">Gavin Douch</a>
			{% include nav.html %}
			{{- content -}}
		</div>
		<p id="footer">Copyright &copy; {{ site.time | date: '%Y' }} Gavin Douch</p>
	</body>
</html>