<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% seo %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="language" content="english">
		<meta name="copyright" content="Gavin Douch">
		<meta name="theme-color" content="#1c1c1c">
		<link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
		{% include icons.html %}
		{% if page.use_math %}
			{% include mathjax_support.html %}
		{% endif %}
	</head>
	<body>
		<div id="main">
			<a id="title" href="{{ '/' | relative_url }}">Gavin Douch</a>
			{% include nav.html %}
			{{ content }}
		</div>
		<p id="footer">Copyright &copy; {% include year.html %} Gavin Douch</p>
	</body>
</html>