---
layout: default
---
<img src="/assets/images/blogIcons/{{ page.icon }}" alt="blog post icon" id="blogPostIcon">
<h1 id="blogTitle">{{ page.title }}</h1>
<p id="postMeta"><span class="tagList">{% for tag in page.tags %}<span class="tagLabel {{ tag }}">{{ tag }}</span>{% endfor %}</span> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>, {% include readingTime.html %}</p>
<div id="blogContent">
	{{ content }}
</div>
<div id="postArrow">
	<a href="{{ page.next.url | relative_url }}"{% if page.next == nil %} style="display: none;"{% endif %}><img src="{{ '/assets/images/chevron.png' | relative_url }}" alt="Left chevron"></a>
	<a href="{{ page.previous.url | relative_url }}"{% if page.previous == nil %} style="display: none;"{% endif %}><img src="{{ '/assets/images/chevron.png' | relative_url }}" alt="Right chevron"></a>
</div>
{% include subscribe.html %}